body {

    color: rgb(3, 21, 100);
    background: rgb(231, 208, 231);
    margin: 0px;

}

header {

border-bottom: solid 2px rgb(rgb(250, 227, 231));
padding: 20px;
fount-size: 32px;
color: rgb(250,227,231);

}
section {

    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px; 
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}